DR_NO = Eindeutige Fallnummer (Jahr + Area + ID)

DATE_RPTD = Datum, wann das Verbrechen gemeldet wurde

DATE_OCC = Datum, wann das Verbrechen stattgefunden hat

TIME_OCC = Uhrzeit der Tat (24h Format, z. B. 2145)

AREA = Nummer des LAPD-Bezirks (1–21)

AREA_NAME = Name des LAPD-Bezirks (z. B. Newton, Hollywood)

RPT_DIST_NO = Reporting District (kleinere Zone im Bezirk)

PART_1_2 = Schweregrad (Part 1 = grave, Part 2 = less severe)

CRM_CD = Crime Code des Delikts (numerisch)

CRM_CD_DESC = Beschreibung des Crime Codes (Text)

MOCODES = Modus Operandi des Täters (Verhaltensmuster)

VICT_AGE = Alter des Opfers

VICT_SEX = Geschlecht des Opfers (F, M, X=Unknown)

VICT_DESCENT = Herkunft/Ethnie des Opfers (Code)

PREMIS_CD = Ortstyp (z. B. Straße, Haus, Geschäft)

PREMIS_DESC = Beschreibung des Ortstyps

WEAPON_USED_CD = Waffe (Code)

WEAPON_DESC = Beschreibung der Waffe

STATUS = Status des Falls (z. B. IC = initial)

STATUS_DESC = Beschreibung des Status

CRM_CD_1 = Primärcrime (wichtigste Straftat)

CRM_CD_2 = Zweite Straftat (falls vorhanden)

CRM_CD_3 = Dritte Straftat

CRM_CD_4 = Vierte Straftat

LOCATION = Adresse (gerundet auf 100 Block)

CROSS_STREET = Kreuzstraße zur Adresse

LAT = Latitude (Breitengrad)

LON = Longitude (Längengrad)

In [95]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [96]:
data = pd.read_csv('../data/raw/Crime_Data_from_2020_to_Present.csv', sep=',')
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         853372 non-null   object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        860347 non-null   object
 13  Vict Descent    860335 non-null   object
 14  Premis Cd       1004975 non-null  float64
 15  Premis Desc     1004403 non-null  object
 16  Weapon Used Cd  327247 non-null   float64
 17  Weapon Desc     327247 non-null   object
 18  Status          1004990 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004980 non-null  float64
 21  Crm Cd 2        69160 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  Cross Street    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

### Preprocessing

In [98]:
# Einheitliches format
data.columns = (
    data.columns
    .str.strip()                # leading/trailing spaces entfernen
    .str.replace(' ', '_')      # Leerzeichen ersetzen
    .str.replace('-', '_')      # Bindestriche ersetzen
    .str.upper()                # alles groß
)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   DATE_RPTD       1004991 non-null  object
 2   DATE_OCC        1004991 non-null  object
 3   TIME_OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA_NAME       1004991 non-null  object
 6   RPT_DIST_NO     1004991 non-null  int64
 7   PART_1_2        1004991 non-null  int64
 8   CRM_CD          1004991 non-null  int64
 9   CRM_CD_DESC     1004991 non-null  object
 10  MOCODES         853372 non-null   object
 11  VICT_AGE        1004991 non-null  int64
 12  VICT_SEX        860347 non-null   object
 13  VICT_DESCENT    860335 non-null   object
 14  PREMIS_CD       1004975 non-null  float64
 15  PREMIS_DESC     1004403 non-null  object
 16  WEAPON_USED_CD  327247 non-null   float64
 17  WEAPON_DESC     327247 non-null   object
 18  STATUS          1004990 non-null  object
 19  STATUS_DESC     1004991 non-null  object
 20  CRM_CD_1        1004980 non-null  float64
 21  CRM_CD_2        69160 non-null    float64
 22  CRM_CD_3        2314 non-null     float64
 23  CRM_CD_4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  CROSS_STREET    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [99]:
# Umwandlung object zu datatime
data['DATE_RPTD'] = pd.to_datetime(data['DATE_RPTD'])
data['DATE_OCC'] = pd.to_datetime(data['DATE_OCC'])  
data.info()

/var/folders/tj/7mvrvxz94yzdsyf2fkrpjyz80000gn/T/ipykernel_89885/4256417050.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['DATE_RPTD'] = pd.to_datetime(data['DATE_RPTD'])
/var/folders/tj/7mvrvxz94yzdsyf2fkrpjyz80000gn/T/ipykernel_89885/4256417050.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['DATE_OCC'] = pd.to_datetime(data['DATE_OCC'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   DATE_RPTD       1004991 non-null  datetime64[ns]
 2   DATE_OCC        1004991 non-null  datetime64[ns]
 3   TIME_OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA_NAME       1004991 non-null  object
 6   RPT_DIST_NO     1004991 non-null  int64
 7   PART_1_2        1004991 non-null  int64
 8   CRM_CD          1004991 non-null  int64
 9   CRM_CD_DESC     1004991 non-null  object
 10  MOCODES         853372 non-null   object
 11  VICT_AGE        1004991 non-null  int64
 12  VICT_SEX        860347 non-null   object
 13  VICT_DESCENT    860335 non-null   object
 14  PREMIS_CD       1004975 non-null  float64
 15  PREMIS_DESC     1004403 non-null  object
 16  WEAPON_USED_CD  327247 non-null   float64
 17  WEAPON_DESC     327247 non-null   object
 18  STATUS          1004990 non-null  object
 19  STATUS_DESC     1004991 non-null  object
 20  CRM_CD_1        1004980 non-null  float64
 21  CRM_CD_2        69160 non-null    float64
 22  CRM_CD_3        2314 non-null     float64
 23  CRM_CD_4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  CROSS_STREET    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(7), object(11)
memory usage: 214.7+ MB

In [100]:
# Spalten auf Nullwerte und NAN überprüfen  
def zero_and_nan_report(df):
    results = []
    total = len(df)

    for col in df.columns:
        # NaN
        nan_count = df[col].isna().sum()
        
        # Zero only for numeric
        zero_count = (df[col] == 0).sum() if pd.api.types.is_numeric_dtype(df[col]) else None
        
        results.append([
            col,
            nan_count,
            f"{nan_count/total:.2%}",
            zero_count,
            f"{zero_count/total:.2%}" if zero_count is not None else '-'
        ])
    
    return pd.DataFrame(
        results, 
        columns=['Column', 'NaN Count', 'NaN %', 'Zero Count', 'Zero %']
    )

report = zero_and_nan_report(data)
report

            Column  NaN Count   NaN %  Zero Count  Zero %
0            DR_NO          0   0.00%         0.0   0.00%
1        DATE_RPTD          0   0.00%         NaN       -
2         DATE_OCC          0   0.00%         NaN       -
3         TIME_OCC          0   0.00%         0.0   0.00%
4             AREA          0   0.00%         0.0   0.00%
5        AREA_NAME          0   0.00%         NaN       -
6      RPT_DIST_NO          0   0.00%         0.0   0.00%
7         PART_1_2          0   0.00%         0.0   0.00%
8           CRM_CD          0   0.00%         0.0   0.00%
9      CRM_CD_DESC          0   0.00%         NaN       -
10         MOCODES     151619  15.09%         NaN       -
11        VICT_AGE          0   0.00%    269222.0  26.79%
12        VICT_SEX     144644  14.39%         NaN       -
13    VICT_DESCENT     144656  14.39%         NaN       -
14       PREMIS_CD         16   0.00%         0.0   0.00%
15     PREMIS_DESC        588   0.06%         NaN       -
16  WEAPON_USED_CD     677744  67.44%         0.0   0.00%
17     WEAPON_DESC     677744  67.44%         NaN       -
18          STATUS          1   0.00%         NaN       -
19     STATUS_DESC          0   0.00%         NaN       -
20        CRM_CD_1         11   0.00%         0.0   0.00%
21        CRM_CD_2     935831  93.12%         0.0   0.00%
22        CRM_CD_3    1002677  99.77%         0.0   0.00%
23        CRM_CD_4    1004927  99.99%         0.0   0.00%
24        LOCATION          0   0.00%         NaN       -
25    CROSS_STREET     850755  84.65%         NaN       -
26             LAT          0   0.00%      2240.0   0.22%
27             LON          0   0.00%      2240.0   0.22%

In [105]:
# Daten bereinigen
data['VICT_AGE'].replace(0, np.nan, inplace=True) # 0 zu NAN machen
data['VICT_SEX'] = data['VICT_SEX'].fillna('X') # 0 zu X machen = unbekannt
data['WEAPON_USED_CD'] = data['WEAPON_USED_CD'].fillna(0)
data['WEAPON_DESC'] = data['WEAPON_DESC'].fillna('NONE')

# Nur Zeilen behalten mit gültiger LAT und LON
data = data[(data['LAT'] != 0) & (data['LON'] != 0)]

/var/folders/tj/7mvrvxz94yzdsyf2fkrpjyz80000gn/T/ipykernel_89885/3039423922.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['VICT_AGE'].replace(0, np.nan, inplace=True) # 0 zu NAN machen

### Feature Engineering

In [106]:
# Daten extrahieren von DATE_OCC
data['OCC_YEAR'] = data['DATE_OCC'].dt.year
data['OCC_MONTH'] = data['DATE_OCC'].dt.month
data['OCC_WEEKDAY'] = data['DATE_OCC'].dt.weekday
data['OCC_IS_WEEKEND'] = data['OCC_WEEKDAY'].isin([5,6]).map({True: 'YES', False: 'NO'})
data['OCC_HOUR'] = (data['TIME_OCC'] // 100).astype(int)
data.head()

data['OCC_IS_WEEKEND'].eq("YES").sum() #test

np.int64(286430)

In [107]:
# Testen ob daten nun clean sind
def zero_and_nan_report(df):
    results = []
    total = len(df)

    for col in df.columns:
        # NaN
        nan_count = df[col].isna().sum()
        
        # Zero only for numeric
        zero_count = (df[col] == 0).sum() if pd.api.types.is_numeric_dtype(df[col]) else None
        
        results.append([
            col,
            nan_count,
            f"{nan_count/total:.2%}",
            zero_count,
            f"{zero_count/total:.2%}" if zero_count is not None else '-'
        ])
    
    return pd.DataFrame(
        results, 
        columns=['Column', 'NaN Count', 'NaN %', 'Zero Count', 'Zero %']
    )

report = zero_and_nan_report(data)
report

            Column  NaN Count   NaN %  Zero Count  Zero %
0            DR_NO          0   0.00%         0.0   0.00%
1        DATE_RPTD          0   0.00%         NaN       -
2         DATE_OCC          0   0.00%         NaN       -
3         TIME_OCC          0   0.00%         0.0   0.00%
4             AREA          0   0.00%         0.0   0.00%
5        AREA_NAME          0   0.00%         NaN       -
6      RPT_DIST_NO          0   0.00%         0.0   0.00%
7         PART_1_2          0   0.00%         0.0   0.00%
8           CRM_CD          0   0.00%         0.0   0.00%
9      CRM_CD_DESC          0   0.00%         NaN       -
10         MOCODES     151495  15.11%         NaN       -
11        VICT_AGE     268674  26.79%         0.0   0.00%
12        VICT_SEX          0   0.00%         NaN       -
13    VICT_DESCENT     144578  14.42%         NaN       -
14       PREMIS_CD         16   0.00%         0.0   0.00%
15     PREMIS_DESC        588   0.06%         NaN       -
16  WEAPON_USED_CD          0   0.00%    676337.0  67.45%
17     WEAPON_DESC          0   0.00%         NaN       -
18          STATUS          1   0.00%         NaN       -
19     STATUS_DESC          0   0.00%         NaN       -
20        CRM_CD_1         11   0.00%         0.0   0.00%
21        CRM_CD_2     933810  93.12%         0.0   0.00%
22        CRM_CD_3    1000437  99.77%         0.0   0.00%
23        CRM_CD_4    1002687  99.99%         0.0   0.00%
24        LOCATION          0   0.00%         NaN       -
25    CROSS_STREET     848910  84.66%         NaN       -
26             LAT          0   0.00%         0.0   0.00%
27             LON          0   0.00%         0.0   0.00%
28        OCC_YEAR          0   0.00%         0.0   0.00%
29       OCC_MONTH          0   0.00%         0.0   0.00%
30     OCC_WEEKDAY          0   0.00%    141252.0  14.09%
31  OCC_IS_WEEKEND          0   0.00%         NaN       -
32        OCC_HOUR          0   0.00%     40437.0   4.03%