DR_NO = Eindeutige Fallnummer (Jahr + Area + ID)

DATE_RPTD = Datum, wann das Verbrechen gemeldet wurde

DATE_OCC = Datum, wann das Verbrechen stattgefunden hat

TIME_OCC = Uhrzeit der Tat (24h Format, z. B. 2145)

AREA = Nummer des LAPD-Bezirks (1–21)

AREA_NAME = Name des LAPD-Bezirks (z. B. Newton, Hollywood)

RPT_DIST_NO = Reporting District (kleinere Zone im Bezirk)

PART_1_2 = Schweregrad (Part 1 = grave, Part 2 = less severe)

CRM_CD = Crime Code des Delikts (numerisch)

CRM_CD_DESC = Beschreibung des Crime Codes (Text)

MOCODES = Modus Operandi des Täters (Verhaltensmuster)

VICT_AGE = Alter des Opfers

VICT_SEX = Geschlecht des Opfers (F, M, X=Unknown)

VICT_DESCENT = Herkunft/Ethnie des Opfers (Code)

PREMIS_CD = Ortstyp (z. B. Straße, Haus, Geschäft)

PREMIS_DESC = Beschreibung des Ortstyps

WEAPON_USED_CD = Waffe (Code)

WEAPON_DESC = Beschreibung der Waffe

STATUS = Status des Falls (z. B. IC = initial)

STATUS_DESC = Beschreibung des Status

CRM_CD_1 = Primärcrime (wichtigste Straftat)

CRM_CD_2 = Zweite Straftat (falls vorhanden)

CRM_CD_3 = Dritte Straftat

CRM_CD_4 = Vierte Straftat

LOCATION = Adresse (gerundet auf 100 Block)

CROSS_STREET = Kreuzstraße zur Adresse

LAT = Latitude (Breitengrad)

LON = Longitude (Längengrad)

In [37]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [38]:
data = pd.read_csv('../data/raw/Crime_Data_from_2020_to_Present.csv', sep=',')
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         853372 non-null   object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        860347 non-null   object
 13  Vict Descent    860335 non-null   object
 14  Premis Cd       1004975 non-null  float64
 15  Premis Desc     1004403 non-null  object
 16  Weapon Used Cd  327247 non-null   float64
 17  Weapon Desc     327247 non-null   object
 18  Status          1004990 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004980 non-null  float64
 21  Crm Cd 2        69160 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  Cross Street    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

### Preprocessing

In [40]:
# Einheitliches format
data.columns = (
    data.columns
    .str.strip()                # leading/trailing spaces entfernen
    .str.replace(' ', '_')      # Leerzeichen ersetzen
    .str.replace('-', '_')      # Bindestriche ersetzen
    .str.upper()                # alles groß
)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   DATE_RPTD       1004991 non-null  object
 2   DATE_OCC        1004991 non-null  object
 3   TIME_OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA_NAME       1004991 non-null  object
 6   RPT_DIST_NO     1004991 non-null  int64
 7   PART_1_2        1004991 non-null  int64
 8   CRM_CD          1004991 non-null  int64
 9   CRM_CD_DESC     1004991 non-null  object
 10  MOCODES         853372 non-null   object
 11  VICT_AGE        1004991 non-null  int64
 12  VICT_SEX        860347 non-null   object
 13  VICT_DESCENT    860335 non-null   object
 14  PREMIS_CD       1004975 non-null  float64
 15  PREMIS_DESC     1004403 non-null  object
 16  WEAPON_USED_CD  327247 non-null   float64
 17  WEAPON_DESC     327247 non-null   object
 18  STATUS          1004990 non-null  object
 19  STATUS_DESC     1004991 non-null  object
 20  CRM_CD_1        1004980 non-null  float64
 21  CRM_CD_2        69160 non-null    float64
 22  CRM_CD_3        2314 non-null     float64
 23  CRM_CD_4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  CROSS_STREET    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [ ]:
# Umwandlung object zu datatime
# .dt.date um nur das Datum zu extrahieren (ohne Zeit, weil das in einer anderen spalte gespeicher ist und nur 00:00:00 angibt)
data['DATE_RPTD'] = pd.to_datetime(data['DATE_RPTD']).dt.date
data['DATE_OCC'] = pd.to_datetime(data['DATE_OCC']).dt.date  
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   DATE_RPTD       1004991 non-null  object
 2   DATE_OCC        1004991 non-null  object
 3   TIME_OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA_NAME       1004991 non-null  object
 6   RPT_DIST_NO     1004991 non-null  int64
 7   PART_1_2        1004991 non-null  int64
 8   CRM_CD          1004991 non-null  int64
 9   CRM_CD_DESC     1004991 non-null  object
 10  MOCODES         853372 non-null   object
 11  VICT_AGE        1004991 non-null  int64
 12  VICT_SEX        860347 non-null   object
 13  VICT_DESCENT    860335 non-null   object
 14  PREMIS_CD       1004975 non-null  float64
 15  PREMIS_DESC     1004403 non-null  object
 16  WEAPON_USED_CD  327247 non-null   float64
 17  WEAPON_DESC     327247 non-null   object
 18  STATUS          1004990 non-null  object
 19  STATUS_DESC     1004991 non-null  object
 20  CRM_CD_1        1004980 non-null  float64
 21  CRM_CD_2        69160 non-null    float64
 22  CRM_CD_3        2314 non-null     float64
 23  CRM_CD_4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  CROSS_STREET    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB