Columns (28)

Column Name
Description

API Field Name

Data Type
DR_NO
Division of Records Number: Official file number made up of a 2 digit year, area ID, and 5 digits
dr_no
Text
Date Rptd
MM/DD/YYYY
date_rptd
Floating Timestamp
DATE OCC
MM/DD/YYYY
date_occ
Floating Timestamp
TIME OCC
In 24 hour military time.
time_occ
Text
AREA
The LAPD has 21 Community Police Stations referred to as Geographic Areas within the department. These Geographic Areas are sequentially numbered from 1-21.
area
Text
AREA NAME
The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles.
Read more
area_name
Text
Rpt Dist No
A four-digit code that represents a sub-area within a Geographic Area. All crime records reference the "RD" that it occurred in for statistical comparisons. Find LAPD Reporting Districts on the LA City GeoHub at http://geohub.lacity.org/datasets/c4f83909b81d4786aa8ba8a74a4b4db1_4
Read more
rpt_dist_no
Text
Part 1-2
part_1_2
Number
Crm Cd
Indicates the crime committed. (Same as Crime Code 1)
crm_cd
Text
Crm Cd Desc
Defines the Crime Code provided.
crm_cd_desc
Text
Mocodes
Modus Operandi: Activities associated with the suspect in commission of the crime.See attached PDF for list of MO Codes in numerical order. https://data.lacity.org/api/views/y8tr-7khq/files/3a967fbd-f210-4857-bc52-60230efe256c?download=true&filename=MO%20CODES%20(numerical%20order).pdf
Read more
mocodes
Text
Vict Age
Two character numeric
vict_age
Text
Vict Sex
F - Female M - Male X - Unknown
vict_sex
Text
Vict Descent
Descent Code: A - Other Asian B - Black C - Chinese D - Cambodian F - Filipino G - Guamanian H - Hispanic/Latin/Mexican I - American Indian/Alaskan Native J - Japanese K - Korean L - Laotian O - Other P - Pacific Islander S - Samoan U - Hawaiian V - Vietnamese W - White X - Unknown Z - Asian Indian
Read more
vict_descent
Text
Premis Cd
The type of structure, vehicle, or location where the crime took place.
premis_cd
Number
Premis Desc
Defines the Premise Code provided.
premis_desc
Text
Weapon Used Cd
The type of weapon used in the crime.
weapon_used_cd
Text
Weapon Desc
Defines the Weapon Used Code provided.
weapon_desc
Text
Status
Status of the case. (IC is the default)
status
Text
Status Desc
Defines the Status Code provided.
status_desc
Text
Crm Cd 1
Indicates the crime committed. Crime Code 1 is the primary and most serious one. Crime Code 2, 3, and 4 are respectively less serious offenses. Lower crime class numbers are more serious.
crm_cd_1
Text
Crm Cd 2
May contain a code for an additional crime, less serious than Crime Code 1.
crm_cd_2
Text
Crm Cd 3
May contain a code for an additional crime, less serious than Crime Code 1.
crm_cd_3
Text
Crm Cd 4
May contain a code for an additional crime, less serious than Crime Code 1.
crm_cd_4
Text
LOCATION
Street address of crime incident rounded to the nearest hundred block to maintain anonymity.
location
Text
Cross Street
Cross Street of rounded Address
cross_street
Text
LAT
Latitude
lat
Number
LON
Longtitude
lon
Number

In [32]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [33]:
data = pd.read_csv('../data/raw/Crime_Data_from_2020_to_Present.csv', sep=',')
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         853372 non-null   object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        860347 non-null   object
 13  Vict Descent    860335 non-null   object
 14  Premis Cd       1004975 non-null  float64
 15  Premis Desc     1004403 non-null  object
 16  Weapon Used Cd  327247 non-null   float64
 17  Weapon Desc     327247 non-null   object
 18  Status          1004990 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004980 non-null  float64
 21  Crm Cd 2        69160 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  Cross Street    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

### Preprocessing

In [35]:
# Einheitliches format
data.columns = (
    data.columns
    .str.strip()                # leading/trailing spaces entfernen
    .str.replace(' ', '_')      # Leerzeichen ersetzen
    .str.replace('-', '_')      # Bindestriche ersetzen
    .str.upper()                # alles groß
)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   DATE_RPTD       1004991 non-null  object
 2   DATE_OCC        1004991 non-null  object
 3   TIME_OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA_NAME       1004991 non-null  object
 6   RPT_DIST_NO     1004991 non-null  int64
 7   PART_1_2        1004991 non-null  int64
 8   CRM_CD          1004991 non-null  int64
 9   CRM_CD_DESC     1004991 non-null  object
 10  MOCODES         853372 non-null   object
 11  VICT_AGE        1004991 non-null  int64
 12  VICT_SEX        860347 non-null   object
 13  VICT_DESCENT    860335 non-null   object
 14  PREMIS_CD       1004975 non-null  float64
 15  PREMIS_DESC     1004403 non-null  object
 16  WEAPON_USED_CD  327247 non-null   float64
 17  WEAPON_DESC     327247 non-null   object
 18  STATUS          1004990 non-null  object
 19  STATUS_DESC     1004991 non-null  object
 20  CRM_CD_1        1004980 non-null  float64
 21  CRM_CD_2        69160 non-null    float64
 22  CRM_CD_3        2314 non-null     float64
 23  CRM_CD_4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  CROSS_STREET    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [ ]:
# Umwandlung object zu datatime
data['DATE_RPTD'] = pd.to_datetime(data['DATE_RPTD'])
data['DATE_OCC'] = pd.to_datetime(data['DATE_OCC'])  
data.info()

KeyError: 'DATE RPTD'